<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simson.www">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这些都是危险权限 需要动态申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 安卓P中不允许此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.register.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.hospital.HospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.hospital.detail.HospitalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.reset.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.expert.ExpertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.expert.detail.ExpertDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shop.detail.CommodityDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.integral.mall.IntegralMallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.integral.IntegralActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.sign.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.set.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.set.address.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.set.address.add.NewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.invitation.InvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.feed.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.diary.MyDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.post.MyPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.diary.detail.DiaryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.diary.detail.append.AppendDiaryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.diary.add.NewDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.set.address.detail.AddressDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.set.address.edit.EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.cart.ShopCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.order.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.cases.CaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.knowledge.detail.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.expert.detail.QuestionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.cause.CauseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.shop.type.ShopTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shop.detail.praise.PraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.integral.detail.IntegralDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.collect.CollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.hospital.device.DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.subscribe.save.NewSubscribeActivity"
            android:screenOrientation="portrait" />
        <!-- 高德地图 -->
        <!-- 5.0SDK不在需要<service android:name="com.amap.api.location.APSService"></service> -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b3a87204a943dc457be778b003648076" />
        <!-- 高德地图 -->
        <activity
            android:name=".ui.home.hospital.select.SelectHospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.wallet.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.wallet.log.TransactionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.wallet.recharge.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.subscribe.SubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.subscribe.select.SelectItemTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.knowledge.type.KnowledgeTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.expert.save.NewQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.subscribe.save.select.SelectFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.test.save.NewHospitalTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.fans.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.follow.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.alopecias.AlopeciaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.circle.detail.FriendCircleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.circle.save.SaveFriendCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hospital.call.CallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.integral.task.IntegralTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.member.MemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.pay.point.PayPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.pay.PayCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.community.knowledge.search.SearchKnowledgeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.shop.search.SearchShopActivity" />

        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!--微信支付-->
    </application>

</manifest>